<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Layout Example</title>
  <meta name="description" content="Layout Example">
  <meta name="author" content="Layout Example">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css?v=1.0">
</head>
<body>
  <div id="site-container">
  <header id="site-header">
    <div id="site-brand">
        <img src="https://placehold.it/400x100/000000/ffffff/?text=main header image" alt="Site Name">
    </div>
    <nav id="site-nav">
        <ul>
            <li><a href="#">Nav Link 1</a></li>
            <li><a href="#">Nav Link 2</a></li>
            <li><a href="#">Nav Link 3</a></li>
            <li><a href="#">Nav Link 4</a></li>
        </ul>
    </nav>
  </header>

  <section id="content">

    <article id="post-666">
        <header>
            <h1>Article Title</h1>
            <div>
                <span class="date">2019-03-22</span>|<span class="author">Author</span>
            </div>
        </header>
        <p>Praesent posuere habitasse phasellus a bibendum dignissim auctor ridiculus a elementum ultrices urna scelerisque enim a condimentum purus. Ridiculus adipiscing auctor lorem ullamcorper suspendisse faucibus etiam fames gravida dui a tempor a habitasse sit porta suspendisse class et. Vestibulum rutrum sed varius a et phasellus parturient magna ligula in facilisis nec donec parturient nisl auctor morbi accumsan. Vulputate a elementum sagittis nascetur sodales a nulla suspendisse fusce volutpat duis volutpat elit nostra ad blandit. Eros mi etiam dictumst potenti pretium consectetur auctor adipiscing proin rutrum a a faucibus turpis donec parturient venenatis non vestibulum dis vestibulum a vestibulum a adipiscing a urna praesent.</p>
        <p>Augue euismod bibendum suscipit ultricies a justo primis vehicula condimentum orci faucibus dis non ac dis justo mattis est nisl mattis ad dolor praesent. Vel suspendisse rutrum fringilla imperdiet parturient a ut ac egestas aliquet parturient nec parturient eget vestibulum nibh faucibus phasellus aptent. A cubilia porttitor himenaeos placerat ullamcorper a a faucibus parturient litora imperdiet imperdiet faucibus vel scelerisque fermentum mus neque netus sagittis tempus phasellus pharetra. Id in vestibulum odio dis adipiscing potenti ante a sem a mi et vel vehicula litora parturient a condimentum a netus. Faucibus duis quisque magnis a sem parturient condimentum aliquet ullamcorper adipiscing molestie at arcu venenatis sit.</p>
    </article>

    <aside>
        <h2>Top 10 List of Things</h2>
        <ol>
            <li>First thing!</li>
            <li>Second thing!</li>
            <li>Third thing!</li>
            <li>Fourth thing!</li>
            <li>Fifth thing!</li>
            <li>Sixth thing!</li>
            <li>Seventh thing!</li>
            <li>Eighth thing!</li>
            <li>Ninth thing!</li>
            <li>Tenth thing!</li>
        </ol>
    </aside>

  </section>

  <section id="secondary">
    <h2>Article List</h2>
    <ul class="article-list">
        <li>
            <article id="post-1">
                <img src="https://placehold.it/100/000000/ffffff/?text=1">
                <h3>First Post</h3>
                <p>First post description</p>
            </article>
        </li>
        <li>
            <article id="post-2">
                <img src="https://placehold.it/100/000000/ffffff/?text=2">
                <h3>Second Post</h3>
                <p>Second post description</p>
            </article>
        </li>
        <li>
            <article id="post-3">
                <img src="https://placehold.it/100/000000/ffffff/?text=3">
                <h3>Third Post</h3>
                <p>Third post description</p>
            </article>
        </li>
    </ul>
  </section>
  </div>

  <script src="/js/scripts.js"></script>
</body>
</html>
